<br>
<app-slide></app-slide>
<br>

<div class="container">
  <!-- Loop through categories -->
  <ng-container *ngFor="let category of productService.getCategories()">
    <div class="category-section mt-5">
      <!-- Category Title -->
      <h2 class="section-title text-center mb-4">
        {{ category | titlecase }}
      </h2>

      <div class="row">
        <!-- Products inside each category -->
        <ng-container *ngFor="let item of productService.getProductsByCategory(category)">
          <app-products 
            class="col-md-3 col-sm-6 mt-2" 
            [product]="item" 
            (onAddToCart)="addToCart($event)">
          </app-products>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
